<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/Research">Research</a></li>
<li><a href="/Teaching">Teaching</a></li>
<li><a href="/Links">Links</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>

   <li>"Ye should know that truth, and the truth should set you free."</li>
   </ul>
  </footer>
  </body>

</html>
