<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-142181943-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-142181943-1');
</script>
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">首页</a></li>
<li><a href="/confession"></a></li>
<li><a href="/history">教会历史</a></li>
<li><a href="/sermons">主日证道</a></li>
<li><a href="/links">链接</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>

   <li>"You should know the truth, and the truth should set you free." John 8:32</li>
   </ul>
  </footer>
  </body>

</html>
